<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="leagueFormGroup">
    <form [formGroup]="leagueFormGroup">
      <ng-template matStepLabel>Sélectionnez la ligue</ng-template>
      <fdj-card *ngFor="let league of listFirstStep"  [league]='league'></fdj-card>
    </form>
  </mat-step>
  <mat-step [stepControl]="teamFormGroup">
    <form [formGroup]="teamFormGroup">
      <ng-template matStepLabel>Séléctionnez l'équipe</ng-template>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="teamName" required>
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
