.card {
  max-width: 270px;
  height: 100%;
}

.image{
  height: 80px;
  object-fit: contain;
}

mat-card-content {
  display: flex;
}

mat-card-content div a {
  color: black;
  padding-right: 8px;
}
