.card {
  max-width: 400px;
}

.image{
  height: 80px;
  object-fit: contain;
}

mat-card-content {
  display: inline-block;
}

mat-card-content div {
  padding-bottom: 8px;
}

mat-card-content div a {
  padding-left: 3px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
