<mat-card
    class="card"
    fxFlex="0 1 calc(20% - 20px)"
>
    <mat-card-header>
        <mat-card-title>{{league.strLeague}}</mat-card-title>
        <mat-card-subtitle>{{league.strLeagueAlternate}}</mat-card-subtitle>
    </mat-card-header>
    <img
        *ngIf="league.strLogo && league.strLogo !== ''; else noImage"
        class="image"
        mat-card-image
        src="{{league.strLogo}}"
        alt="{{league.strLeagueAlternate}}"
    >
    <ng-template #noImage>
        <img
            class="image"
            mat-card-image
            src="../../../../assets/images/no-thumbnail.png"
            alt="No image available"
        >
    </ng-template>
    <mat-card-content>
        <div *ngIf="league.strWebsite">
            <fa name="globe fa-lg"></fa>
            <a
                href="{{league.strWebsite}}"
                _target="blank"
            >
                {{league.strWebsite}}
            </a>
        </div>
        <div *ngIf="league.strFacebook">
            <fa name="facebook fa-lg"></fa>
            <a
                href="{{league.strFacebook}}"
                _target="blank"
            >
                {{league.strFacebook}}
            </a>
        </div>
        <div *ngIf="league.strTwitter">
            <fa name="twitter-square fa-lg"></fa>
            <a
                href="{{league.strTwitter}}"
                _target="blank"
            >
                {{league.strTwitter}}
            </a>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-stroked-button color="primary" (click)="goToNextStep()">Get teams</button>
    </mat-card-actions>
</mat-card>
