<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{league.strLeague}}</mat-card-title>
    <mat-card-subtitle>{{league.strLeagueAlternate}}</mat-card-subtitle>
  </mat-card-header>
  <img *ngIf="league.strBadge && league.strBadge !== ''; else noImage" class="image" mat-card-image
    src="{{league.strBadge}}" alt="{{league.strLeagueAlternate}}">
  <ng-template #noImage>
    <img class="image" mat-card-image src="../../../../assets/images/no-thumbnail.png" alt="No image available">
  </ng-template>
  <mat-card-content>
    <div *ngIf="league.strWebsite">
      <a href="{{league.strWebsite}}" _target="blank">
        <fa name="globe fa"></fa>
      </a>
    </div>
    <div *ngIf="league.strFacebook">

      <a href="{{league.strFacebook}}" _target="blank">
        <fa name="facebook fa"></fa>
      </a>
    </div>
    <div *ngIf="league.strTwitter">

      <a href="{{league.strTwitter}}" _target="blank">
        <fa name="twitter-square fa"></fa>
      </a>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button color="primary" (click)="goToNextStep()">
      Get teams
    </button>
  </mat-card-actions>
</mat-card>
